.Loader {
  text-align: center;
}
.ImageWrapper > img {
  /* max-width: 100%; */
  border: 1px solid rgb(160, 159, 159);
}
.MoviesGalleryItemDescription {
  font-weight: 700;
  padding: 10px;
}
.AboutMovie {
  max-width: 700px;
  margin-bottom: 20px;
}
.Link {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(238, 238, 237);
  font-weight: 600;
  color: #2a363b;
  font-size: 20px;
}
.Link:hover {
  transform: scale(1.03);
}

.ActiveLink {
  color: rgb(255, 255, 255);
  background-color: rgb(226, 102, 71);
}
/* .btnGoBack {
  padding: 8px 13px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
} */
.Button {
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #fffcf0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: rgb(7, 7, 7);
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 100px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background-color: #e2630e;
  color: #ffffff;
}
